html {
    position: relative;
    height: 100%;
    color-scheme: dark !important;
}

body {
    padding-bottom: 75px;
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 15px;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

blockquote {
  background: rgb(27, 30, 31);
  margin: 0px;
  border-left: 5px solid rgb(62, 68, 70);
  padding: 10px 20px;
}

.color-one {  /* white */
  color: #FAFFFD;
}

.color-two { /* purple */
  color: #3D212D;
}

.color-three { /* bluish gray */
  color: #575B67;
}

.color-four { /* dark gray */
  color: #363A39;
}

.color-five { /* white */
  color: rgb(226, 224, 220);
}

a.body-link:visited , a.body-link:link , a.body-link:active {
  color: rgb(226, 224, 220);
}

a.body-link:hover {
  text-decoration: underline;
}

a:visited, a:link {
  color: rgb(226, 224, 220);
}

a:hover {
  color: rgb(226, 224, 220);
  text-decoration: none;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    padding-bottom: 5px;
}

.header {
    padding-top: 10px;
}

.inline {
    display: inline;
}

.no-list {
  list-style-type: none;
  -webkit-padding-start: 0px;
}

.header {
    width: 100%;
}

.container {
  margin-left: 8vw;
  margin-right: 8vw;
}

.center {
  text-align: center;
}

.nav-title {
	font-family: 'VT323', monospace;
	font-size: 20px;
}

.terminal-font {
  font-family: Inconsolata;
}
