.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.inner-left {
    display: table-cell;
    vertical-align: middle;
    padding-left: 4vw;
    width: 50%
}
.inner-right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 4vw;
    width: 50%
}
.hidden {
  display: none;
}

