html {
    position: relative;
    height: 100%;
}

body {
    padding-bottom: 75px;
    height: 100%;
}

.color-one {  /* white */
  color: #FAFFFD;
}

.color-two { /* purple */
  color: #3D212D;
}

.color-three { /* bluish gray */
  color: #575B67;
}

.color-four { /* dark gray */
  color: #363A39;
}

.color-five { /* black */
  color: #090909;
}

a:visited, a:link, a:active {
  color: #CCCCCC;
}

a:hover {
  color: #090909;
  text-decoration: none;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    padding-bottom: 5px;
}

.footer-content {
    text-align: center;
}

.header {
    padding-top: 10px;
    text-align: center;
}

.inline {
    display: inline;
}

.header {
    width: 100%;
}
