<!DOCTYPE html>
<html>
<head>
	{% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  {% for css in page.extra_css %}
		<link rel="stylesheet" type="text/css" href="{{ css }}">
  {% endfor %}

  {% for js in page.extra_js %}
    <script src="{{ js }}"></script>
  {% endfor %}
</head>

<body>
{{ content }}
</body>
</html>
