---
layout: default
---
<body>
<div class="header">
    <div class="h2 small container-fluid">
        <ul>
            <li class="inline">
              <a href="/home/">HOME</a> - </li> 

            <li class="inline">
              <a href="/about/">ABOUT</a> - </li> 

            <li class="inline">
              <a href="/projects/">PROJECTS</a> - </li> 

            <li class="inline">
              <a href="/blog/">WRITINGS</a> - </li>

            <li class="inline">
              <a href="/contact/">CONTACT</a></li>
        </ul>
    </div>
</div> <!-- ./header -->

{{ content }}

<div class="footer">
  <div class="footer-content">
  </div>
</div> <!-- ./footer -->
