---
layout: default
---
<div class="header">
    <div class="center">
        <ul class="center no-list">
            <li class="inline nav-title">
              <a href="/home/">HOME</a> -
						</li>

            <li class="inline nav-title">
              <a href="/about/">ABOUT</a> -
						</li>

            <li class="inline nav-title">
              <a href="/contact/">CONTACT</a>
						</li>
        </ul>
    </div>
</div> <!-- ./header -->

{{ content }}

<div class="footer">
  <div class="center">
  </div>
</div> <!-- ./footer -->
